body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sendPanel {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.methodSelect {
  /* Przerwa pomiędzy button a input */
  margin-right: 10px;
  /* Parametry wielkości */
  height: 30px;
  width: 90px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
  padding: flex;
  /* Czionka */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  color: inherit;
  /* Inherits color from selected option */
  background-color: #1a1a1a;
}

.methodSelect option {
  /* Czionka */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
}

.methodSelect:hover {
  border-color: #646cff;
}

.inputUrl {
  /* Przerwa pomiędzy button a input */
  margin-right: 10px;
  /* Parametry wielkości */
  height: 30px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.inputUrl:hover {
  border-color: #646cff;
}

.inputUrl:focus,
.inputUrl:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.checkboxContainer {
  padding: 10px;
}

.checkboxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.bodyContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.bodyTextArea {
  width: 500px;
  height: 250px;
}

.checkboxJSON,
.checkboxXML {
  margin-right: 10px;
  margin-left: 10px;
}

.HistoryLog {
  padding: 4px;
  background-color: #353535;
  border-radius: 8px;
}