.methodSelect {
  /* Przerwa pomiędzy button a input */
  margin-right: 10px;
  /* Parametry wielkości */
  height: 30px;
  width: 90px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
  padding: flex;
  /* Czionka */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  color: inherit;
  /* Inherits color from selected option */
  background-color: #1a1a1a;
}

.methodSelect option {
  /* Czionka */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
}

.methodSelect:hover {
  border-color: #646cff;
}