.methodSelect {
  margin-right: 10px;
  height: 35px;
  width: 90px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all 0.25s ease;
  padding: flex;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  color: inherit;
  background-color: #1a1a1a;
}

.methodSelect option {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
}

.methodSelect:hover {
  border-color: aqua;
}

.methodSelect:active {
  border-color: aqua;
}

.methodSelect:focus,
.methodSelect:focus-visible {
  outline: aqua;
}
