.collapsible {
  width: 100%;
  max-width: 100%;
  margin: 10px 0;
}

.collapsibleButton {
  background-color: #00000050;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsibleButton:hover {
  background-color: #9494944d;
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.collapsibleContent {
  background-color: #9494944d;
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
}
